$color: red;
h1 {
	color: $color;
}
div {
  	font-size: 18px;
  	p {
  		color: red;
  	}
}
%changing {
  font-size: 20px;
  border: 1px solid black;
}
#make-green {
  @extend %changing;
  color: springgreen;
}
#make-purple {
  @extend %changing;
  color: purple;
}
